In [5]:
#This is a test notebook. 

import pandas as pd

test = pd.read_stata('/Users/evanlih/Github/PUBPOL599-Seattle-Crisis-Data/ipums.dta')

test.head(5)

   serial statefip     sex age             school  inctot  incwage
0     1.0  Alabama    Male  73  No, not in school   10000        0
1     2.0  Alabama  Female  31  No, not in school   38500    38500
2     3.0  Alabama    Male  41  No, not in school   82000    72000
3     3.0  Alabama  Female  48  No, not in school    8700        0
4     3.0  Alabama    Male  16     Yes, in school       0        0