In [40]:
#This is a test notebook. 

import pandas as pd
import csv
fipdata = pd.read_csv('/Users/evanlih/Github/PUBPOL599-Seattle-Crisis-Data/Dataset/Right to Work by State.csv')

fipdata.drop(fipdata.columns[3:256], axis = 1, inplace = True)
fipdata.drop(fipdata.columns[1], axis = 1, inplace = True)

fipdata.rename(columns = {'Right to Work by State' :'State', 'Unnamed: 1' : 'FIPS', 'Unnamed: 2' : 'Right to Work'}, inplace = True)

fipdata.drop(fipdata.index[0], inplace = True)

fipdata

             State Right to Work
1          Alabama             1
2           Alaska             0
3          Arizona             1
4         Arkansas             1
5       California             0
6         Colorado             0
7      Connecticut             0
8         Delaware             0
9          Florida             1
10         Georgia             1
11          Hawaii             0
12           Idaho             1
13        Illinois             0
14         Indiana             1
15            Iowa             1
16          Kansas             1
17        Kentucky             1
18       Louisiana             1
19           Maine             0
20        Maryland             0
21   Massachusetts             0
22        Michigan             1
23       Minnesota             0
24     Mississippi             1
25        Missouri             0
26         Montana             0
27        Nebraska             1
28          Nevada             1
29   New Hampshire             0
30      New Jersey             0
31      New Mexico             0
32        New York             0
33  North Carolina             1
34    North Dakota             1
35            Ohio             0
36        Oklahoma             1
37          Oregon             0
38    Pennsylvania             0
39    Rhode Island             0
40  South Carolina             1
41    South Dakota             1
42       Tennessee             1
43           Texas             1
44            Utah             1
45         Vermont             0
46        Virginia             1
47      Washington             0
48   West Virginia             1
49       Wisconsin             1
50         Wyoming             1

In [54]:
ipumsdata = pd.read_stata('/Users/evanlih/Github/PUBPOL599-Seattle-Crisis-Data/ipums.dta')
ipumsdata.rename(columns = {'statefip' : 'State'}, inplace = True)
ipumsdata['State'].unique()

[Alabama, Alaska, Arizona, Arkansas, California, ..., Virginia, Washington, West Virginia, Wisconsin, Wyoming]
Length: 51
Categories (51, object): [Alabama < Alaska < Arizona < Arkansas ... Washington < West Virginia < Wisconsin < Wyoming]

In [52]:
ipumsdata.head(10)

   serial statefip     sex age             school   inctot  incwage
0     1.0  Alabama    Male  73  No, not in school    10000        0
1     2.0  Alabama  Female  31  No, not in school    38500    38500
2     3.0  Alabama    Male  41  No, not in school    82000    72000
3     3.0  Alabama  Female  48  No, not in school     8700        0
4     3.0  Alabama    Male  16     Yes, in school        0        0
5     4.0  Alabama  Female  37  No, not in school    18300    18000
6     4.0  Alabama  Female  18     Yes, in school        0        0
7     4.0  Alabama    Male  17     Yes, in school     8800        0
8     4.0  Alabama  Female   7     Yes, in school  9999999   999999
9     4.0  Alabama  Female   3  No, not in school  9999999   999999

In [65]:
results = pd.merge(fipdata, ipumsdata, on = 'State', how = 'right')
results[results['State'].str.contains("Alaska")]

,State,Right to Work,serial,sex,age,school,inctot,incwage
47645,Alaska,0,22109.0,Female,85,"No, not in school",28600,0
47646,Alaska,0,22109.0,Female,32,"No, not in school",87100,85000
47647,Alaska,0,22110.0,Female,56,"No, not in school",1450,0
47648,Alaska,0,22110.0,Male,61,"No, not in school",37100,35000
47649,Alaska,0,22110.0,Male,26,"No, not in school",0,0
47650,Alaska,0,22110.0,Male,29,"No, not in school",1100,0
47651,Alaska,0,22110.0,Female,15,"Yes, in school",2000,999999
47652,Alaska,0,22110.0,Male,6,"Yes, in school",9999999,999999
47653,Alaska,0,22111.0,Male,65,"No, not in school",174000,150000
47654,Alaska,0,22111.0,Female,65,"No, not in school",36000,0
47655,Alaska,0,22112.0,Female,38,"No, not in school",15500,14400
47656,Alaska,0,22112.0,Female,11,"Yes, in school",9999999,999999
47657,Alaska,0,22112.0,Male,9,"Yes, in school",9999999,999999
47658,Alaska,0,22113.0,Female,50,"No, not in school",100000,100000
47659,Alaska,0,22113.0,Male,44,"Yes, in school",37800,37800
47660,Alaska,0,22113.0,Male,15,"Yes, in school",3000,999999
47661,Alaska,0,22114.0,Male,49,"No, not in school",33500,32500
47662,Alaska,0,22114.0,Male,18,"Yes, in school",1800,800
47663,Alaska,0,22115.0,Male,22,"No, not in school",16550,15000
47664,Alaska,0,22115.0,Male,4,"Yes, in school",9999999,999999
47665,Alaska,0,22115.0,Male,3,"Yes, in school",9999999,999999
47666,Alaska,0,22115.0,Female,23,"No, not in school",1100,0
47667,Alaska,0,22116.0,Male,68,"No, not in school",8800,0
47668,Alaska,0,22117.0,Female,53,"No, not in school",32400,30000
47669,Alaska,0,22117.0,Female,17,"Yes, in school",2600,1500
47670,Alaska,0,22118.0,Male,63,"No, not in school",26400,0
47671,Alaska,0,22119.0,Male,51,"No, not in school",18000,0
47672,Alaska,0,22119.0,Female,49,"No, not in school",50000,50000
47673,Alaska,0,22120.0,Female,42,"No, not in school",66000,65000
47674,Alaska,0,22120.0,Male,47,"No, not in school",230000,125000
...,...,...,...,...,...,...,...,...
54361,Alaska,0,24806.0,Female,29,"No, not in school",6000,6000
54362,Alaska,0,24807.0,Male,68,"No, not in school",17500,0
54363,Alaska,0,24808.0,Male,46,"No, not in school",4300,4000
54364,Alaska,0,24809.0,Female,33,"No, not in school",1000,0
54365,Alaska,0,24810.0,Male,44,"No, not in school",1000,0
54366,Alaska,0,24811.0,Male,56,"No, not in school",11400,0
54367,Alaska,0,24812.0,Male,21,"No, not in school",3200,3200
54368,Alaska,0,24813.0,Male,19,"No, not in school",16000,16000
54369,Alaska,0,24814.0,Male,35,"No, not in school",20000,20000
54370,Alaska,0,24815.0,Male,27,"No, not in school",17000,17000
54371,Alaska,0,24816.0,Male,20,"No, not in school",20000,20000
54372,Alaska,0,24817.0,Female,19,"Yes, in school",4000,4000
54373,Alaska,0,24818.0,Male,53,"No, not in school",49000,24000
54374,Alaska,0,24819.0,Male,23,"No, not in school",106000,105000
54375,Alaska,0,24820.0,Female,17,"Yes, in school",0,0
54376,Alaska,0,24821.0,Male,55,"No, not in school",30000,30000
54377,Alaska,0,24822.0,Male,21,"No, not in school",32000,32000
54378,Alaska,0,24823.0,Male,45,"No, not in school",100000,100000
54379,Alaska,0,24824.0,Male,22,"Yes, in school",25000,25000
54380,Alaska,0,24825.0,Male,56,"No, not in school",11400,0
54381,Alaska,0,24826.0,Male,20,"No, not in school",24000,24000
54382,Alaska,0,24827.0,Female,52,"No, not in school",126000,125000
54383,Alaska,0,24828.0,Male,38,"No, not in school",16000,16000
54384,Alaska,0,24829.0,Male,48,"No, not in school",81100,80000
54385,Alaska,0,24830.0,Male,25,"No, not in school",52000,52000
54386,Alaska,0,24831.0,Male,24,"No, not in school",23000,22000
54387,Alaska,0,24832.0,Male,40,"No, not in school",14900,0
54388,Alaska,0,24833.0,Male,20,"No, not in school",30000,30000
54389,Alaska,0,24834.0,Female,43,"No, not in school",1104,0
54390,Alaska,0,24835.0,Male,48,"No, not in school",179000,179000