In [2]:
#This is a test notebook. 

import pandas as pd
import csv

#This line of code clears the output. This way we can double check the code is actually
#running. 
from IPython.display import clear_output
for i in range(10):
    clear_output()

#importing the fip dataset
fipdata = pd.read_csv('https://raw.githubusercontent.com/EvanLih/PUBPOL599_Right_To_Work/master/Dataset/Right%20to%20Work%20by%20State.csv')

#We are removing the unecessary columns from the fip dataset, and only
#keeping the "State" column at "Right to Work" column,. 
fipdata.drop(fipdata.columns[3:256], axis = 1, inplace = True)
fipdata.drop(fipdata.columns[1], axis = 1, inplace = True)

#We are renaming the columns to make it easier to read
fipdata.rename(columns = {'Right to Work by State' :'State', 'Unnamed: 1' : 'FIPS', 'Unnamed: 2' : 'Right_to_Work'}, inplace = True)


#We are dropping the first row of the dataset, as they don't contain values - only column names
fipdata.drop(fipdata.index[0], inplace = True)

#Adding District of Columbia, as it is not present in original dataframe
fipdata = fipdata.append({'State': 'District of Columbia', 'Right_to_Work' : 1}, ignore_index = True)

#outputting the dataframe to make sure it looks ok. 
fipdata

                   State Right_to_Work
0                Alabama             1
1                 Alaska             0
2                Arizona             1
3               Arkansas             1
4             California             0
5               Colorado             0
6            Connecticut             0
7               Delaware             0
8                Florida             1
9                Georgia             1
10                Hawaii             0
11                 Idaho             1
12              Illinois             0
13               Indiana             1
14                  Iowa             1
15                Kansas             1
16              Kentucky             1
17             Louisiana             1
18                 Maine             0
19              Maryland             0
20         Massachusetts             0
21              Michigan             1
22             Minnesota             0
23           Mississippi             1
24              Missouri             0
25               Montana             0
26              Nebraska             1
27                Nevada             1
28         New Hampshire             0
29            New Jersey             0
30            New Mexico             0
31              New York             0
32        North Carolina             1
33          North Dakota             1
34                  Ohio             0
35              Oklahoma             1
36                Oregon             0
37          Pennsylvania             0
38          Rhode Island             0
39        South Carolina             1
40          South Dakota             1
41             Tennessee             1
42                 Texas             1
43                  Utah             1
44               Vermont             0
45              Virginia             1
46            Washington             0
47         West Virginia             1
48             Wisconsin             1
49               Wyoming             1
50  District of Columbia             1

In [5]:
#This line of code clears the output. This way we can double check the code is actually
#running. 
from IPython.display import clear_output
for i in range(10):
    clear_output()


#Reading in the ipums dataset
ipumsdata = pd.read_stata('https://raw.githubusercontent.com/EvanLih/PUBPOL599_Right_To_Work/master/ipums.dta')

#Preparing for merge, so changing ipums dataset state column to match fipdata
ipumsdata.rename(columns = {'statefip' : 'State'}, inplace = True)

#Printing out a list of states to double check if everything is working
test = ipumsdata['State'].unique()
list(test)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [52]:
ipumsdata.head(10)

   serial    State     sex age             school   inctot  incwage
0     1.0  Alabama    Male  73  No, not in school    10000        0
1     2.0  Alabama  Female  31  No, not in school    38500    38500
2     3.0  Alabama    Male  41  No, not in school    82000    72000
3     3.0  Alabama  Female  48  No, not in school     8700        0
4     3.0  Alabama    Male  16     Yes, in school        0        0
5     4.0  Alabama  Female  37  No, not in school    18300    18000
6     4.0  Alabama  Female  18     Yes, in school        0        0
7     4.0  Alabama    Male  17     Yes, in school     8800        0
8     4.0  Alabama  Female   7     Yes, in school  9999999   999999
9     4.0  Alabama  Female   3  No, not in school  9999999   999999

In [7]:
#This line of code clears the output. This way we can double check the code is actually
#running. 
from IPython.display import clear_output
for i in range(10):
    clear_output()


#We are merging the two dataframes into a new dataframe called combinedResults
combinedResults = pd.merge(fipdata, ipumsdata, on = 'State', how = 'right')

## Cleaning combined results:

#Drop total income column from table
combinedResults.drop(combinedResults.columns[6], axis = 1, inplace = True)

#Drop 999999 (N/A) from incwage column
combinedResults = combinedResults[combinedResults.incwage != 999999]

#Drop weird data from age column
combinedResults = combinedResults[combinedResults.age != "90 (90+ in 1980 and 1990)"]

#convert age to numeric
combinedResults.age=pd.to_numeric(combinedResults.age)

#Limit results to working population 25-65
combinedResults = combinedResults[combinedResults.age > 25]
combinedResults = combinedResults[combinedResults.age < 65]

#Replace the state name with the state you want to see. In this case, it is california. 
#A simple test to see if the Right to Work column is outputting the correct value
combinedResults[combinedResults['State'].str.contains("California")]

#This dataset only contains states, right to work, and incwage. We are ignoring 
#inctot (total income), as we are primarily looking at wage data.

,State,Right_to_Work,serial,sex,age,school,incwage
153275,California,0,68211.0,Male,45,"No, not in school",40000
153276,California,0,68211.0,Female,39,"Yes, in school",4000
153278,California,0,68212.0,Male,34,"No, not in school",130000
153279,California,0,68212.0,Female,33,"No, not in school",0
153283,California,0,68214.0,Male,35,"No, not in school",58000
153284,California,0,68214.0,Female,31,"No, not in school",38000
153288,California,0,68216.0,Male,47,"No, not in school",0
153289,California,0,68216.0,Female,41,"No, not in school",70000
153290,California,0,68217.0,Female,31,"No, not in school",76000
153291,California,0,68217.0,Male,34,"No, not in school",81000
153294,California,0,68218.0,Male,64,"No, not in school",3100
153295,California,0,68218.0,Female,57,"No, not in school",13000
153298,California,0,68220.0,Female,51,"No, not in school",20000
153299,California,0,68220.0,Male,31,"No, not in school",45000
153305,California,0,68224.0,Female,41,"No, not in school",40000
153306,California,0,68224.0,Male,59,"No, not in school",0
153309,California,0,68225.0,Female,58,"No, not in school",40200
153311,California,0,68226.0,Male,55,"No, not in school",62000
153312,California,0,68226.0,Female,53,"Yes, in school",0
153314,California,0,68227.0,Female,38,"No, not in school",100000
153315,California,0,68227.0,Female,58,"No, not in school",0
153316,California,0,68228.0,Female,26,"Yes, in school",10000
153317,California,0,68229.0,Male,60,"No, not in school",102000
153318,California,0,68229.0,Female,59,"No, not in school",0
153319,California,0,68229.0,Male,27,"Yes, in school",19000
153321,California,0,68230.0,Female,32,"No, not in school",32400
153322,California,0,68231.0,Female,51,"No, not in school",100000
153323,California,0,68231.0,Male,50,"No, not in school",100000
153326,California,0,68232.0,Male,39,"No, not in school",41000
153330,California,0,68232.0,Female,38,"No, not in school",35000
...,...,...,...,...,...,...,...
530793,California,0,217574.0,Male,32,"No, not in school",0
530796,California,0,217577.0,Male,42,"No, not in school",10000
530798,California,0,217579.0,Male,39,"No, not in school",0
530800,California,0,217581.0,Female,33,"No, not in school",0
530802,California,0,217583.0,Female,39,"No, not in school",0
530806,California,0,217587.0,Male,33,"No, not in school",24000
530807,California,0,217588.0,Male,50,"No, not in school",0
530811,California,0,217592.0,Male,30,"No, not in school",4800
530814,California,0,217595.0,Male,28,"No, not in school",0
530815,California,0,217596.0,Male,30,"No, not in school",0
530816,California,0,217597.0,Male,26,"No, not in school",45000
530817,California,0,217598.0,Male,38,"No, not in school",0
530819,California,0,217600.0,Male,54,"No, not in school",0
530822,California,0,217603.0,Male,27,"Yes, in school",0
530823,California,0,217604.0,Female,61,"No, not in school",0
530824,California,0,217605.0,Female,51,"No, not in school",10000
530825,California,0,217606.0,Female,59,"No, not in school",125000
530826,California,0,217607.0,Male,46,"No, not in school",0
530828,California,0,217609.0,Male,50,"No, not in school",0
530832,California,0,217613.0,Male,34,"No, not in school",0
530835,California,0,217616.0,Male,48,"Yes, in school",0
530838,California,0,217619.0,Male,37,"No, not in school",7800
530839,California,0,217620.0,Female,58,"No, not in school",0
530841,California,0,217622.0,Female,39,"No, not in school",0
530842,California,0,217623.0,Male,48,"No, not in school",0
530844,California,0,217625.0,Male,28,"No, not in school",0
530846,California,0,217627.0,Male,32,"No, not in school",3500
530847,California,0,217628.0,Male,56,"Yes, in school",0
530848,California,0,217629.0,Male,26,"Yes, in school",0
530849,California,0,217630.0,Male,41,"No, not in school",0

In [17]:
#With the finalized dataset, we are outputting the dataframe into a CSV for 
#R data visualization/statistical analysis. 
import os  
combinedResults.to_csv('Cleaned_RTW_Dataset')
#Checking if the file exists. 
test = os.path.isfile('./Cleaned_RTW_Dataset')

if test == True :
    print('Cleaned_RTW_Dataset was created. Please see "dataset" file to find)
    else:
        print('Dataset was not created properly. Please retry!')

this works

In [9]:
combinedResults.head(10)

      State Right_to_Work  serial     sex  age             school  incwage
1   Alabama             1     2.0  Female   31  No, not in school    38500
2   Alabama             1     3.0    Male   41  No, not in school    72000
3   Alabama             1     3.0  Female   48  No, not in school        0
5   Alabama             1     4.0  Female   37  No, not in school    18000
10  Alabama             1     5.0    Male   32  No, not in school    65000
11  Alabama             1     5.0  Female   54  No, not in school    57000
19  Alabama             1     9.0    Male   32  No, not in school    43500
20  Alabama             1     9.0    Male   60  No, not in school        0
21  Alabama             1     9.0  Female   58  No, not in school        0
22  Alabama             1    10.0    Male   61  No, not in school   160000